<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #header{
            border: 1px solid black;
        }
        #contents{
            border: 1px solid black;
            float: left;
            width: 100%;
        }
        .menu{
            float: left;
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
        }
        #txt{
            border: 1px solid black;
            width: 50%;
            height: 300px;
            overflow: scroll;
            float: left;
        }
        #userList{
            float: right;
        }
        #chat{
            float: left;
            width: 100%;
        }
        #leave{
            float: right;
        }
    </style>
</head>
<body>
    <div id="header">
        <div id="roomMenu" class="menu" onclick="roomMenu()">
            Rooms
        </div>
        <div id="userMenu" class="menu" onclick="userMenu()">
            Users
        </div>
        <div id="friendsMenu" class="menu" onclick="friendsMenu()">
            Friends
        </div>
        <div id="logout" class="menu" onclick="logout()">
            logout
        </div>
    </div>
    <div id="contents">
        <div>방번호 : <%- roomNo %></div>
        <div id="txt"></div>
        <div id="userList"></div>
        <div id="chat">
            <input type="text" id="message" />
            <button onclick="send()">SEND</button>
            <button id="leave" onclick="leave()">나가기</button>
        </div>
    </div>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" 
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
crossorigin="anonymous"></script>
<script>
    //socket io 연결
    const socket = io();
    let roomNo, userNo, uid;
    window.onload = async () => {
        //db에 저장된 채팅 출력
        let chat = `<%- chat %>`;
        chat = JSON.parse(chat);

        for(let i=0; i<chat.length; i++){
            let msg = `<div>${chat[i].uid} : ${chat[i].msg}</div>`
            $('#txt').append(msg)
        }

        roomNo = `<%- roomNo %>`;
        roomNo = JSON.parse(roomNo);
        user = `<%- user %>`;
        user = JSON.parse(user);
        userNo = user.no;
        uid = user.id;

        //서버에 입장 메시지 송신
        let data = {
            roomNo: roomNo,
            userNo: userNo,
            uid: uid
        }
        socket.emit('joinRoom', data);

        $.ajax({
            url: '/chat/userList',
            type: 'POST',
            dataType: 'json',
            data: data
        })
        await userList(data);
    }

    //메시지 전송 함수
    let send = async () => {
        let msg = $('#message').val();
        let data = {
            roomNo: roomNo,
            userNo: userNo,
            uid: uid,
            msg: msg
        }

        //서버로 채팅 메시지 송신
        $.ajax({
            url: '/chat/message',
            type: 'POST',
            dataType: 'json',
            data: data
        })
        socket.emit('message', data);
        $('#message').val('');
    }
    
    //서버에서 채팅 메시지 수신
    socket.on('message', (msg) => {
        $('#txt').append(msg);
    })

    socket.on('userList', async (data) => {
        await userList(data);
    })

    //채팅방 나가기
    let leave = () => {
        let data = {
            roomNo: roomNo,
            userNo: userNo,
            uid: uid
        }

        $.ajax({
            url: '/chat/userList',
            type: 'DELETE',
            dataType: 'json',
            data: data
        })
        .done(() => {
            socket.emit('leaveRoom', data);
            location.href = '/rooms'
        })
    }

    // 유저 리스트
    let userList = (data) => {
        $.ajax({
            url: '/chat/userList',
            type: 'GET',
            dataType: 'json',
            data: data
        })
        .done((result) => {
            document.querySelector('#userList').innerHTML = '';
            $('#userList').append(`<div><h2>현재 인원 : ${result.length}</h2></div>`);
            for(var i=0; i<result.length; i++){
                $('#userList').append(`<div>${result[i].uid}</div>`);
            }
        })
    }

    //메뉴 이동
    let roomMenu = () => {
        let data = {
            roomNo: roomNo,
            userNo: userNo,
            uid: uid
        }
        socket.emit('leaveRoom', data);
        location.href = '/rooms';
    }
    let userMenu = () => {
        let data = {
            roomNo: roomNo,
            userNo: userNo,
            uid: uid
        }
        socket.emit('leaveRoom', data);
        location.href = '/users';
    }
    let friendsMenu = () => {
        let data = {
            roomNo: roomNo,
            userNo: userNo,
            uid: uid
        }
        socket.emit('leaveRoom', data);
        location.href = '/friends';
    }
    let logout = () => {
        let data = {
            roomNo: roomNo,
            userNo: userNo,
            uid: uid
        }
        socket.emit('leaveRoom', data);
        location.href = '/user/logout';
    }
</script>