<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #header{
            border: 1px solid black;
        }
        #contents{
            border: 1px solid black;
            float: left;
            width: 100%;
        }
        .users{
            border: 1px solid black;
        }
        .menu{
            float: left;
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div id="header">
        <div id="roomMenu" class="menu" onclick="roomMenu()">
            Rooms
        </div>
        <div id="userMenu" class="menu" onclick="userMenu()">
            Users
        </div>
        <div id="friendsMenu" class="menu" onclick="friendsMenu()">
            Friends
        </div>
        <div id="logout" class="menu" onclick="logout()">
            logout
        </div>
    </div>
    <div id="contents">
        
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.js" 
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
crossorigin="anonymous"></script>
<script>
    window.onload = () => {
        //유저 목록 출력
        var users = `<%- users %>`;
        users = JSON.parse(users);

        var friends = `<%- friends %>`;
        friends = JSON.parse(friends);
        var arr = new Array();
        for(var i=0; i<friends.length; i++){
            arr.push(friends[i].fno);
        }
        console.log(arr);

        for(var i=0; i<users.length; i++){
            var html = `<div id="${users[i].no}" class="users">ID : ${users[i].id}  가입날짜 : ${formatDate(users[i].signup_date)}  친구수 : ${users[i].cnt}`;

            //이미 친구인 사용자 체크
            if(!arr.includes(users[i].no)){
                html += `<button onclick='friending(${users[i].no})'>친구 요청</button>`
            }
            html += `</div>`;
            
            $('#contents').append(html);
        }
    }

    //친구 추가
    var friending = (no) => {
        var data = {
            uno: `<%- user.uno %>`,
            uid: `<%- user.uid %>`,
            fno: no
        }
        $.ajax({
            url: '/user/friending',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: (result) => {
                console.log(result);
            }
        })
    }

    //날자 형식 변환
    var formatDate = (date) => {
        var d = new Date(date);
        var year = d.getFullYear();
        var month = '' + (d.getMonth() + 1);
        var day = '' + d.getDate();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }

    //메뉴 이동
    var roomMenu = () => {
        location.href = '/rooms';
    }
    var userMenu = () => {
        location.href = '/users';
    }
    var friendsMenu = () => {
        location.href = '/friends';
    }
    var logout = () => {
        location.href = '/user/logout';
    }
</script>