<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #header{
            border: 1px solid black;
        }
        #contents{
            border: 1px solid black;
            float: left;
            width: 100%;
        }
        .users{
            border: 1px solid black;
        }
        .menu{
            float: left;
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div id="header">
        <div id="roomMenu" class="menu" onclick="roomMenu()">
            Rooms
        </div>
        <div id="userMenu" class="menu" onclick="userMenu()">
            Users
        </div>
        <div id="friendsMenu" class="menu" onclick="friendsMenu()">
            Friends
        </div>
        <div id="logout" class="menu" onclick="logout()">
            logout
        </div>
    </div>
    <div id="contents">
        
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.js" 
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
crossorigin="anonymous"></script>
<script src="/js/frontUtil.js"></script>
<script>
    let user;
    window.onload = async () => {
        user = `<%- user %>`;
        user = JSON.parse(user);
        
        //유저 목록 출력
        let users = `<%- users %>`;
        users = JSON.parse(users);

        let friends = `<%- friends %>`;
        friends = JSON.parse(friends);
        let arr = new Array();
        for(let i=0; i<friends.length; i++){
            arr.push(friends[i].friendsNo);
        }

        for(let i=0; i<users.length; i++){
            let count = await friendsCount(users[i].no);
            let html = `<div id="${users[i].no}" class="users">ID : ${users[i].id}  가입날짜 : ${formatDate(users[i].createdAt)}  친구수 : ${count}`;

            //이미 친구인 사용자 체크
            if(!arr.includes(users[i].no)){
                html += `<button onclick='friending(${users[i].no})'>친구 요청</button>`
            }
            html += `</div>`;
            
            $('#contents').append(html);
        }
    }

    //친구 추가
    let friending = (friendsNo) => {
        let data = {
            userNo: user.no,
            friendsNo: friendsNo
        }
        
        $.ajax({
            url: '/user/friends',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: (result) => {
                location.href = location.href;
                console.log(result);
            }
        })
    }

    let friendsCount = async (no) => {
        let count = await AjaxUtil('/user/friendsList', 'GET', { no: no });
        count = count.length;

        return count;
    }

    //날짜 형식 변환
    let formatDate = (date) => {
        let d = new Date(date);
        let year = d.getFullYear();
        let month = '' + (d.getMonth() + 1);
        let day = '' + d.getDate();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }

    //메뉴 이동
    let roomMenu = () => {
        location.href = '/rooms';
    }
    let userMenu = () => {
        location.href = '/users';
    }
    let friendsMenu = () => {
        location.href = '/friends';
    }
    let logout = () => {
        location.href = '/user/logout';
    }
</script>